
body {
    font-family: serif;
    background-color: #212121;
    color: white;
}



header{
    
    font-family: serif;
}

.fName{
    text-align: center;
}
 
.navbar {
    background-color: #000000;
}


.nav-link {
    border-radius: 3px;
    padding: 20px;
    color: white;

}

.nav-link:hover {
    background-color: 484848;
    color: black;
}

#aboutMe {
    padding: 20px;
}



.card-body{
    background-color: #373737;
    border-style:  black;
}

#ab {
    margin-top: 12%;
}

.card-header {
    background-color: white;
    padding: 5%;
    padding-bottom: 1px;
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
}
    

#port{
    margin-top: 6%;
}

#no1,#no2,#no3,#no4,#no5{
  padding: 1% ;
  padding-bottom: 15%;
}

#portHead{
    font-size: 2.5rem;
    
}

#no1:hover{
    position:relative;
    top:-10px;
    width:700px;
    height:auto;
    display:block;
    z-index:999999999;

}


#no2:hover{
    position:relative;
    top:-10px;
    width:700px;
    height:auto;
    display:block;
    z-index:999999999;

}


#no3:hover{
    position:relative;
    top:-10px;
    width:700px;
    height:auto;
    display:block;
    z-index:999999999;

}


#no4:hover{
    position:relative;
    top:-10px;
    width:700px;
    height:auto;
    display:block;
    z-index:999999999;

}


#no5:hover{
    position:relative;
    top:-10px;
    width:700px;
    height:auto;
    display:block;
    z-index:999999999;

}

#myform{
   margin-top: 6%;
}

footer{
    position: sticky;
    margin-bottom: 0;
    padding: 10px;
    background-color:#454545;
    color: white;
    text-align: center;
}

.footer-copyright{
    margin-bottom: 0;
    margin-top: 100px;
    background-color: #bdbdbd;
    color: #454545;
}


.myCopy{
    margin: 3px;
}
